body{
    margin: 0;
    font-family: sans-serif;
}
header{
    width: 100%;
    background: #4E9AAB;
    display: flex;
    align-items: baseline;
    height: 50px;
}
#btn-menu{
    display: none;
}
header label{
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    color: #fff;
    font-size: 25px;
    border-right: 1px solid #fff;
}
header label:hover{
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
}
.menu ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    right: 0px;
    position: absolute;
    top: 0px;
    z-index: 1;
}
header h1{
    position: absolute;
    top: -15px;
    color: #fff;
}
.menu li{
    border-right: 1px solid #fff;
}
.a1{
    border-left: 1px solid #fff;
}
.a4{
    background: #247b8f;
    cursor: default;
}
.a4:hover{
    background: rgba(0, 0, 0, 0.3);
    color: #4E9AAB;
}
a{
    background: #6fcce0bb;
    color: rgba(255, 255, 255, 0.521);
}
.menu li:hover{
    background: rgba(0, 0, 0, 0.3);
}
.menu li a{
    display: block;
    padding: 15px 20px 25px 20px;
    height: 10px;
    color: #fff;
    text-decoration: none;
}
body{
    background: #3294;
}
/*  tabla lista de objetivos   */
.tableList{
    position: absolute;
    display: block;
    background: #fff;
    border: 10px solid blueviolet;
    width: 40%;
    z-index: 0;
    height: 70%;
    top: 15%;
    left: 30%;
}
/*boton de guardar y de cancelar*/
.cb1{
    display: block;
    padding: 10px;
    background: #6a5bf5;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    width: 150px;
    left: 45%;
    z-index: 1;
    top: 88%;
    position: fixed;
}
.cb1:hover{
    background: #74b2c0;
}
.sb1{
    display: block;
    padding: 10px;
    background: #6a5bf5;
    color: #fff;
    text-align: center;
    cursor: pointer;
    z-index: 2;
    width: 150px;
    z-index: 1;
    left: 80%;
    top: 85%;
    border-radius: 8px;
    position: fixed;
}
.sb1:hover{
    background: #74b2c0;
}
/*   Responsive Desing   */
@media (max-width: 768px) {
    header label{
        display: block;
    }
    header{
        text-align: center;
        justify-content: space-between;
    }
    header h1{
        position: absolute;
        left: 55px;
        color: #fff;
    }
    .menu{
        position: absolute;
        background: #4E9AAB;
        width: 70%;
        display: flex;
    }
    .menu ul{
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        position: absolute;
        top: 25px;
        left: 75%;
        width: 90%;
    }
    .menu li{
        border-top: 1px solid #fff;
        text-align: center;
    }
    #btn-menu:checked ~ .menu ul{
        flex-direction: column;
        position: fixed;
        top: 50px;
        left: 0;
        right: 70px;
        transition: all 0.5s;
    }
}
































